.mouse-shadow {
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.08) 0,
    transparent 70%
  );
  border-radius: 50%;
  width: 800px;
  height: 800px;
  transform: translate(-50%, -50%);
}
